@import "tailwindcss";

:root {
  --background: #07090e;
  --foreground: #f1f5f9;
}

body {
  background: #07090e;
  color: #f1f5f9;
  overflow: hidden;
}

/* Custom Cybernetic Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.12);
  border-radius: 9999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 240, 255, 0.3);
}
